.deck-wrapper {
    background-color: #1b7ff8;
    color: white;
    border-radius: 10px;
    border: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    -moz-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    box-shadow: 1px 1px 1px 0px rgb(50, 50, 50);
}

.study-card{
    background-color: #1b7ff8;
    color: white;
    border-radius: 10px;
    border: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#navbar{
    margin-top: 0px;
    -webkit-box-shadow: 7px 7px 21px 2px rgb(0, 0, 0);
    -moz-box-shadow: 7px 7px 21px 2px rgb(0, 0, 0);
    box-shadow: 7px 7px 21px 2px rgb(50, 50, 50);
    background-color: #E9ECEF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px;
    height: 50px;
}

#deck-row{
    margin-bottom: 10px;
}

#copyright{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.study-options{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#study-num{
    margin-left: auto;
    margin-right: auto;
}

#numselect{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#start-study{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav-button{
    height: 15px;
}

#login-wrapper{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 198px;
    background-color: #1b7ff8;
    color: white;
    border-radius: 10px;
    border: 2px;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    -moz-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    box-shadow: 2px 2px 2px 1px rgb(50, 50, 50);
}

#signup-wrapper{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 198px;
    background-color: #1b7ff8;
    color: white;
    border-radius: 10px;
    border: 2px;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    -moz-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    box-shadow: 1px 1px 1px 0px rgb(50, 50, 50);
}

#lead-tag{
    font-size: 30px;
}

#main-container{
    margin-top: 15px;
    background-color: #E9ECEF;
    height: 80%;
    border-radius: 5px;
    box-shadow: 7px 7px 21px 2px rgb(50, 50, 50);
}

.jumbotron{
    min-height: 316px;
}

#deck-container{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #3E6680;
}

#mydecks{
    text-align: center;
    margin: auto;
}

#decktitle{
    text-align: center;
    margin: auto;
}

#decktitle{
    text-align: center;
    margin: auto;
}


#cardnum{
    text-align: center;
    margin: auto;
}

#decknav{
    color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

#settings-nav{
    margin-left: 20%;
}

.study-btn {
    position: absolute;
    right: 15%;
    margin-top: 6px;
    width: 13%;
    /* background-color: rgb(0, 131, 0); */
    cursor: pointer;
    text-align: center;
}

.edit-btn{
    position: absolute;
    margin-top: 6px;
    right: 1%;
    width: 13%;
    /* background-color: rgb(168, 0, 0); */
    cursor: pointer;
    text-align: center;

}

.selected{
    background-color: green;
}

.front-edit{
    margin-left: 5px;
    margin-bottom: 0px;
}

.back-edit{
    margin-left: 5px;
    margin-bottom: 0px;
}

.front-text-display{
    margin-left: 5px;
    margin-bottom: 0px;
    width: 45%;
}

.back-text-display{
    margin-left: 5px;
    margin-bottom: 15px;
    width: 45%;
}

.deck-wrapper{
    height: 50px;
}


.deckname{
    float:left;
    margin-top: 10px;
    margin-left: 3px;
}

.createdby{
    float: left;
    margin-left: 5px;
    margin-top: 23.2px;
}
