body{
    background-color: #2A4E6E;
}

.deck-wrapper {
    background-color: rgb(25, 67, 102);
    color: white;
    border-radius: 10px;
    border: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    -moz-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    box-shadow: 1px 1px 1px 0px rgb(50, 50, 50);
}

.study-card{
    background-color: #092E4C;
    color: white;
    border-radius: 10px;
    border: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#deck-create-container{
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 198px;
        background-color: #40798C;
        color: white;
        border-radius: 10px;
        border: 2px;
        -webkit-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
        -moz-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
        box-shadow: 2px 2px 2px 1px rgb(50, 50, 50);
    }

/* .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
} */
 
.btn {
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link{
    background: #40798C;
    color: #ffffff
}


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #40798C;
    color: #ffffff;
}

.active{
    background: #092E4C;
}
 

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #3F6572;
    color: #ffffff;
}
 
.btn-primary:active, .btn-primary.active {
    background: #40798C;
    box-shadow: none;
}

#navbar{
    margin-top: 0px;
    -webkit-box-shadow: 7px 7px 21px 2px rgb(0, 0, 0);
    -moz-box-shadow: 7px 7px 21px 2px rgb(0, 0, 0);
    box-shadow: 7px 7px 21px 2px rgb(50, 50, 50);
    background-color: #E9ECEF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px;
    height: 50px;
}

#deck-row{
    margin-bottom: 10px;
}

#copyright{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.study-options{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#study-num{
    margin-left: auto;
    margin-right: auto;
}

#numselect{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#start-study{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.nav-button{
    height: 15px;
}

#login-wrapper{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 198px;
    background-color: #40798C;
    color: white;
    border-radius: 10px;
    border: 2px;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    -moz-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    box-shadow: 2px 2px 2px 1px rgb(50, 50, 50);
}

#signup-wrapper{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 198px;
    background-color: #40798C;
    color: white;
    border-radius: 10px;
    border: 2px;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    -moz-box-shadow: 1px 1px 1px 1px rgb(50, 50, 50);
    box-shadow: 1px 1px 1px 0px rgb(50, 50, 50);
}

#lead-tag{
    font-size: 30px;
}

#main-container{
    margin-top: 15px;
    background-color: #E9ECEF;
    height: 80%;
    border-radius: 5px;
    box-shadow: 7px 7px 21px 2px rgb(50, 50, 50);
}

.jumbotron{
    min-height: 316px;
}

#deck-container{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}



#mydecks{
    text-align: center;
    margin: auto;
}

#decktitle{
    text-align: center;
    margin: auto;
}

#decktitle{
    text-align: center;
    margin: auto;
}


#cardnum{
    text-align: center;
    margin: auto;
}

#decknav{
    color:white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

#settings-nav{
    margin-left: 20%;
}

.study-btn {
    position: absolute;
    right: 15%;
    margin-top: 6px;
    width: 13%;
    /* background-color: rgb(0, 131, 0); */
    cursor: pointer;
    text-align: center;
}

.edit-btn{
    position: absolute;
    margin-top: 6px;
    right: 1%;
    width: 13%;
    /* background-color: rgb(168, 0, 0); */
    cursor: pointer;
    text-align: center;

}

.selected{
    background-color: #228C3A;
}

.front-edit{
    margin-left: 5px;
    margin-bottom: 0px;
}

.back-edit{
    margin-left: 5px;
    margin-bottom: 0px;
}

.front-text-display{
    margin-left: 5px;
    margin-bottom: 0px;
    width: 45%;
}

.back-text-display{
    margin-left: 5px;
    margin-bottom: 15px;
    width: 45%;
}

.deck-wrapper{
    height: 50px;
}


.deckname{
    float:left;
    margin-top: 10px;
    margin-left: 3px;
}

.createdby{
    float: left;
    margin-left: 5px;
    margin-top: 23.2px;
}

.front-edit, .back-edit{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

#card-display{
    height: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.front-text-study, .back-text-study{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}

.front-text-display, .back-text-display{
    margin-left: 35%;
    margin-right: auto;
    width: 200px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: rgb(25, 67, 102);
}

#card-study-area{
    background-color: #092E4C;
    color: white;
    border-radius: 10px;
    border: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}